body {
padding-top: 100px;
padding-bottom: 60px;
background: url('http://www.colorhexa.com/static/i/linen.png') repeat;
}
@font-face {
        font-family: 'open_sanslight';
        src: url('opensans-light-webfont.eot');
        src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),  url('opensans-light-webfont.woff') format('woff'),  url('opensans-light-webfont.ttf') format('truetype'),  url('opensans-light-webfont.svg#open_sanslight') format('svg');
        font-weight: normal;
        font-style: normal;
}

header .navbar-inner {
height: 100px;
}
.contact-us{

float: right;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 400;
color: #bdbdbd;
padding-right: 15px;
line-height: 30px;

}
.logo {
height: 54px;
width: 138px;
background: url('../img/inicio/logo.png') no-repeat;
margin-top: 25px;
background-size: 100%;
}

#main-container {
border: 1px solid #ececec;
border-radius: 4px;
background: white;
}

.footer {
font-size: 10px;
line-height: 10px;
padding-bottom: 10px;
padding-top: 10px;
}
.nav.navbar-nav.navbar-right.main-menu li {

	cursor: pointer;
}
.nav.navbar-nav.navbar-right.main-menu li a span {
color: black;
}

.navbar-inner {
background: rgba(250,250,250,0.8);
}


.nav.navbar-nav li.active {
background-color: rgba(236, 236, 236, 0.8);
border-radius: 5px;
}


.nav.navbar-nav.navbar-right.main-menu {
margin-top: 5px;
}

.nav>li>a:hover, .nav>li>a:focus {
border-radius: 5px;
background-color: #f1f1f1;
}

.nav.navbar-nav.navbar-right.main-menu li {
margin-left: 10px;
}

.btn-comienza {
color: #fff!important;
text-shadow: 0 1px 0 rgba(0,0,0,0.1) !important;
-webkit-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 -4px 0 rgba(0,0,0,0.1);
box-shadow: inset 0 -4px 0 rgba(0,0,0,0.1);
background: #22945d;
border: 0;
-webkit-transition: all .4s ease;
-moz-transition: all .4s ease;
-ms-transition: all .4s ease;
-o-transition: all .4s ease;
transition: all .4s ease;
padding: 20px;
}

h1[id] {
padding-top: 100px;
margin-top: 75px;
}

#car-1 {
margin-top: -100px;
}

.scrollspy-example .page-header {
font-family: open_sanslight;
}

.page-header {
font-family: open_sanslight;
}
